<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Video Stream</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.messagestore.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.fallbacks.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.language.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.parser.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.emitter.js"></script>
    <script src="js/lib/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>
    <script src="antixss.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@webtor/embed-sdk-js/dist/index.min.js" charset="utf-8" async></script>

    <script>
        $(document).ready(function () {
            $.i18n().load({
                en: {
                    "welcome": "Avengers..... Assemble!",
                    "name": "name",
                    "what_is_your_name": "What is your name?",
                    "hello": "Hello $1",
                    "added_to_database": "Hello $1, I've added you to the database!",
                    "database_contents": "Database contents: "
                },
                ja: {
                    "welcome": "ようこそ。",
                    "name": "名前",
                    "what_is_your_name": "お名前を教えてください。",
                    "hello": "こんにちは $1",
                    "added_to_database": "こんにちは $1 さん、あなたをデータベースに追加しました。",
                    "database_contents": "データベースの内容: "
                }
            });
            $('body').i18n();
            $('#user_name').attr("placeholder", $.i18n('name'));
        });
    </script>

</head>

<body>
    <div class="container" id="container">
        <h1 data-i18n="welcome"></h1> <!-- Welcome -->
        <div id="nameInput" class="input-group-lg center-block helloInput">
            <p class="lead" data-i18n="Search videos"></p>
            <input id="search_text" type="text" class="form-control" aria-describedby="sizing-addon1" value="" />
        </div>
        <p id="response" class="lead text-center"></p>

        <div id="player" class="webtor"></div>

        <!-- <p id="databaseNames" class="lead text-center"></p> -->
    </div>
    <!-- <footer class="footer">
        <div class="container">
            <span><a href="https://console.bluemix.net/docs/tutorials/index.html" target="_blank">Looking for more tutorials?</a></span>
        </div>
    </footer> -->

</body>


</html>


<script>
    //Submit data when enter key is pressed
    $('#search_text').keydown(function (e) {
        var name = $('#search_text').val();
        if (e.which == 13 && name.length > 0) { //catch Enter key
            //POST request to API to create a new visitor entry in the database
            $.ajax({
                method: "POST",
                url: "./api/visitors",
                contentType: "application/json",
                data: JSON.stringify({ name: name })
            })
                .done(function (data) {
                    $('#search-results').remove();
                    var table = $('<table>').addClass('foo').attr("id", "search-results");
                    for (i = 0; i < data.length; i++) {
                        var row = $('<tr>').addClass('bar');
                        row.append($('<td>').addClass('bar').text(data[i].title))
                        row.append($('<td>').addClass('bar').text(data[i].size))
                        // row.append($('<td>').addClass('bar').text(data[i].seeds))
                        row.attr("id", i);
                        row.click((e) => {
                            const torrentSelected = data[e.currentTarget.rowIndex]
                            console.log(data[e.currentTarget.rowIndex])
                            var torrentsDetailsSection = $('<div>').addClass('webtor').attr("id", "player");
                            $('tr:eq(' + e.currentTarget.rowIndex + ')', table).after(torrentsDetailsSection)
                            window.webtor = window.webtor || [];
                            window.webtor.push({
                                id: 'player',
                                magnet: torrentSelected.magnet,
                                on: function (e) {
                                    if (e.name == window.webtor.TORRENT_FETCHED) {
                                        console.log('Torrent fetched!', e.data);
                                    }
                                    if (e.name == window.webtor.TORRENT_ERROR) {
                                        console.log('Torrent error!');
                                    }
                                },
                                // subtitles: [
                                //     {
                                //         srclang: 'en',
                                //         label: 'Avengers',
                                //         src: 'https://raw.githubusercontent.com/andreyvit/subtitle-tools/master/sample.srt',
                                //         default: true,
                                //     }
                                // ],
                                lang: 'en',
                                i18n: {
                                    en: {
                                        common: {
                                            "prepare to play": "Preparing Video Stream... Please Wait...",
                                        },
                                        stat: {
                                            "seeding": "Seeding",
                                            "waiting": "Client initialization",
                                            "waiting for peers": "Waiting for peers",
                                            "from": "from",
                                        },
                                    },
                                },
                            });
                            // var ol = $('<ul>')
                            // var video = $('<video />', {
                            //     id: 'video',
                            //     src: torrentSelected.magnet,
                            //     type: 'video/mp4',
                            //     controls: true
                            // }).addClass('video');
                            // video.insertAfter($('#torrentsDetailsSection'))
                        })
                        table.append(row);
                    }

                    $('#response').append(table);
                    // $('#nameInput').hide();
                    getNames();
                });
        }
    });

    function copyToClipboard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
            // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
            return clipboardData.setData("Text", text);

        }
        else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
            var textarea = document.createElement("textarea");
            textarea.textContent = text;
            textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in Microsoft Edge.
            document.body.appendChild(textarea);
            textarea.select();
            try {
                return document.execCommand("copy");  // Security exception may be thrown by some browsers.
            }
            catch (ex) {
                console.warn("Copy to clipboard failed.", ex);
                return false;
            }
            finally {
                document.body.removeChild(textarea);
            }
        }
    }

    var loader = "<div class=\"loader loader--style3\" title=\"2\">\r\n  <svg version=\"1.1\" id=\"loader-1\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\"\r\n     width=\"40px\" height=\"40px\" viewBox=\"0 0 50 50\" style=\"enable-background:new 0 0 50 50;\" xml:space=\"preserve\">\r\n  <path fill=\"#000\" d=\"M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z\">\r\n    <animateTransform attributeType=\"xml\"\r\n      attributeName=\"transform\"\r\n      type=\"rotate\"\r\n      from=\"0 25 25\"\r\n      to=\"360 25 25\"\r\n      dur=\"0.6s\"\r\n      repeatCount=\"indefinite\"\/>\r\n    <\/path>\r\n  <\/svg>\r\n<\/div>"
    //Retrieve all the visitors from the database
    function getNames() {
        $.get("./api/visitors")
            .done(function (data) {
                if (data.length > 0) {
                    data.forEach(function (element, index) {
                        data[index] = AntiXSS.sanitizeInput(element)
                    });
                    $('#databaseNames').html($.i18n('database_contents') + JSON.stringify(data));
                }
            });
    }

    //Call getNames on page load.
    getNames();


</script>